language: node_js
node_js:
- '10'
before_install:
- npm install -g @angular/cli
install: npm install
branches:
  only:
  - master
deploy:
  provider: heroku
  app: angular-hw-clicker
  api_key:
    secure: 0N4cTaxNFHpv4KRSxz99h78Z0Tvvt4UOHWqDAQKct0ZV5vw1goo+r7H55c6RHkdvewHmlpnSbiv1f0ElR1KDoBwc2dEQkKjQW3I6jzPGVa0E+1HubFJ92ZW+aMVUUGuFTMerYex7Ry+CFUHRLO+4ck0uhAAJ9el9zfeOfRcBL5VZWosXgRkeV+egguJJTh1HhfN2AFX54ZsmUzXot/b4DKwAD6sLLNsHd7+O43ppg4lb7e+2yEQxB0Wipqp0GcMckFFzqJQR6PUKJnXUEYneVBKxzKoVxDuknM/e2HOy9D8pNjb0/h6gQzv1CVh2rSsi6p3b6v1a5SEU1QbR2ILchmRvmE/e/sQhGOnwdt+D94NDfJt7YLczrqIkXBBIfDK3GgIRxrA1zWxSY080SQAFSirqwLjFP9wNb1oI0LjAGhJ8bpZtaP8dPze44pvq4cfue7324q7QZfysxgR5nLxU1HEVaeTSJjdBcP8KGnQsjoFuBRTlGsLQcv/HSGoI5Kk5RIAi7o5FAnHSGQel/SX7DqBroD5CV63rZAmxo2RK3O2jigUbM/WAZfrXox09F8AbvXuy3b4yd6KLGQCU6JB6xoIpcju34hiGGN6CVPEKUxV2CP0lqd+J7pSMqwS9uOKZhSPACZjQnDpV6EY5S3hJfQ+SX1oO9DzD6UgmoRHb8C4=
